footer {
  background-color: var(--main-background);
  padding: 30px 0 5px;
}

.footer-content {
  /* margin: 0 auto 20px; */
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid lightgray;
  padding: 0 0 30px 0;
  gap: 20px;
}

.footer-logo img {
  width: 200px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.footer-content-right {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-info h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-info ul {
  list-style: none;
  padding: 0;
}

.footer-info ul li {
  margin-bottom: 8px;
}

.footer-info ul li a {
  color: var(--itemFirst-color);
  text-decoration: none;
}

.footer-info ul li a:hover {
  color: var(--primary-hover);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-social a i {
  margin-right: 15px;
  color: var(--itemFirst-color);
  font-size: 20px;
}

.footer-social a i:hover {
  color: var(--primary-hover);
}

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .footer-content-right {
    display: flex;
    justify-content: flex-end;
    gap: 70px;
  }

  .footer-bottom {
    flex-wrap: nowrap;
    gap: 10px;
  }
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}
